alias mkdir='mkdir -p'
alias ps='ps auxf'
alias ping='ping -c 6'
alias less='less -R'
alias ll='ls -hal --color=auto'
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias python='python3'
alias py='python3'
alias pip='pip3'
alias vi='vim'
alias cl='clear'
alias pyc='python -c'
alias add-key='sudo gpg --keyserver keyserver.ubuntu.com --recv-keys'
alias lbmx-vpn='sudo openfortivpn vpn.lbmx.com:10443 -u zkotani --trusted-cert 30481e09eb521f2007d5f617b37958b928a208bc55f009e1d690fce716d18f32'
alias rsync='rsync -auh --partial --info=progress2'
alias tree='tree --gitignore --ignore-case --filesfirst -ACFphuQNf -L 2'
alias cls='clear'
alias ff='fastfetch'
alias sb='source .bashrc'
alias sv='source .vimrc'
alias lg='lazygit'
alias lssh='ssh -i .ssh/lbmx-ml -oIdentitiesOnly=yes'
alias deb='sudo gdebi'
